<header>
    <div class="container container-flex">
        <div class="site-title">
            <h1>Living the social life</h1>
            <p class="subtitle">A blog exploring minimalism in life</p>
        </div>
        <nav>
            <ul>
                <li><a class="current-page" href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About me</a></li>
                <li><a href="{% url 'add' %}">Add post</a></li>
                <li><a href="{% url 'posts' %}">Recent posts</a></li>
            </ul>
        </nav>
    </div> 
</header>